body {
  font-family: Arial, sans-serif;
  background-color: #fffcf2;
  margin: 0;
  padding: 0;
  color: #252422;
  text-align: center;
}

.card {
  width: 500px;
  height: 350px;
  margin: 20px auto;
  padding: 10px;
  background-color: #ccc5b9;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button,
input {
  padding: 10px;
  margin: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #eb5e28;
  color: #252422;
  cursor: pointer;
}

button[value="1"] {
  background-color: #ee6055;
}

button[value="5"] {
  background-color: #ffd97d;
}

button[value="30"] {
  background-color: #aaf683;
}

header a {
  text-decoration: none;
  color: #252422;
  background-color: #eb5e28;
  padding: 10px;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .card {
    width: 80%;
  }
}
